.block-1{
    border: solid 2px blue;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background: url("img/kuaijiejian.jpg");
    background-size: contain;
}

.block-2{
    border: solid 2px #64ff36;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background: #ebff45;
}

.block-3{
    border: solid 2px blue;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    box-sizing: border-box;
    width: 64px;
    height: 64px;
    background: rgb(247, 127, 143);
    position: relative;
    left: 64px;
    top: 64px;
}

.bg{
    border: solid 8px #ebff45;
    background: #837ef7;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body {
    margin: 0;
    background: #f770af;
    background-size: 150px 150px;
}

